* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* atalho, pode ser usado em todo o site e caso precise alterar a cor, altera direto no atalho*/
:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    background: #c3e5e9;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
    color: var(--title-color);
}